@import "tailwindcss";

body{
    margin : 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    padding-top: 60px;
    
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}

@layer components{

  .headerLink{
    @apply transition-colors duration-200 hover:text-blue-600 active:text-blue-400
  }

  .plusButton{
    @apply h-7 w-8 bg-blue-950 text-white font-bold rounded-lg cursor-pointer transition-opacity duration-200 hover:opacity-80 active:opacity-60
  }
}