@import "tailwindcss";

body{
    margin : 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    padding-top: 60px;
    
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}

@layer components{

  .headerLink{
    @apply transition-colors duration-200 hover:text-blue-600 active:text-blue-400
  }
}